<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Create / Edit Roster</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
</head>

<body>
	<div class="container-fluid" id="wholePage">
		<div class="row justify-content-center">
			<div align="center" class="col-sm-12" id="rosterHeader">
				<h1>Update Entry</h1>
			</div>
			<div class="row justify-content-center" id="headerSpace"></div>


			<div class="row justify-content-center"
				id="dashboardBodyCreateRosterAddOn">
				<div align="center" class="col-sm-3"></div>
				<div align="center" class="col-sm-8">


				
					
					<form th:action="@{/employee-dashboard/save-rostered-employee-2}" th:object="${roster}" method="post">
					<input type="hidden" th:field = "*{employeeId}" />
						<table class="table table-striped">
							
							<thead>
								<tr>
									<th class="customTH"><label>Enter Employee Email: </label></th>
									<th class="customTH"><input type="text" th:field = "*{employeeEmail}" name="employeeEmail" required='required'></th>
								</tr>
								<tr>
									<th class="customTH"><label>Enter Employee Name: </label></th>
									<th class="customTH"><input type="text" th:field = "*{employeeName}" name="employeeName" required='required'></th>
								</tr>
								<tr>
									<th class="customTH"><label>Enter Week Number: </label></th>
									<th class="customTH"><input type="number" min="1" max="52" th:field = "*{weekNo}" name="weekNo" required='required'></th>
								</tr>
								<tr>
									<th class="customTH"><label>Enter Monday Hours: </label></th>
									<th class="customTH"><input type="text" th:field = "*{monHours}" name="monHours" required='required'></th>
								</tr>
								<tr>
									<th class="customTH"><label>Enter Tuesday Hours: </label></th>
									<th class="customTH"><input type="text" th:field = "*{tuesHours}" name="tuesHours" required='required'></th>
								</tr>
								<tr>
									<th class="customTH"><label>Enter Wednesday Hours: </label></th>
									<th class="customTH"><input type="text" th:field = "*{wedHours}" name="wedHours" required='required'></th>
								</tr>
								<tr>
									<th class="customTH"><label>Enter Thursday Hours: </label></th>
									<th class="customTH"><input type="text" th:field = "*{thursHours}" name="thursHours" required='required'></th>
								</tr>
								<tr>
									<th class="customTH"><label>Enter Friday Hours: </label></th>
									<th class="customTH"><input type="text" th:field = "*{friHours}" name="friHours" required='required'></th>
								</tr>
								<tr>
									<th class="customTH"><label>Enter Saturday Hours: </label></th>
									<th class="customTH"><input type="text" th:field = "*{satHours}" name="satHours" required='required'></th>
								</tr>
								<tr>
									<th class="customTH"><label>Enter Sunday Hours: </label></th>
									<th class="customTH"><input type="text" th:field = "*{sunHours}" name="sunHours" required='required'></th>
								</tr>
								<tr>
									<th class="customTH"><label>Enter Employee Department: </label></th>
									<th class="customTH"><select th:field = "${roster.employeeDept}" name="employeeDept" id="employeeDept" required='required'>
    										<option value="Grocery">Grocery</option>
    										<option value="Checkouts">Checkouts</option>
    										<option value="Office">Office</option>
    										<option value="Baby">Baby</option>
    										<option value="Jewelry">Jewelry</option>
    										<option value="Home">Home</option>
    										<option value="Books">Books</option>
    										<option value="Health">Health</option>
    										<option value="Electronics">Electronics</option>
    										<option value="Bakery">Bakery</option>
    										<option value="Butchers">Butchers</option>
    										<option value="Fish Counter">Fish Counter</option>
    										<option value="Off License">Off License</option>
  										</select>
  									</th>
								</tr>
								<tr>
									<th class="customTH"><label>Enter Employee Hours Worked: </label></th>
									<th class="customTH"><input type="number" min="1" max="60" th:field = "*{employeeHours}" name="employeeHours" required='required'></th>
								</tr>
								<tr>
									<th class="customTH"> </th>
									<th class="customTH"><input type="submit" value="Submit hours for this employee"></th>
								</tr>

							</thead>
						</table>

						
					</form>




				</div>
				<div align="center" class="col-sm-1"></div>

			</div>

			<div class="row justify-content-center" id="footerSpace">
				<div class="col-sm-4">
					<a href="/admin-dashboard"><button type="button">Return
							to Dashboard</button></a>
				</div>
				<div class="col-sm-4"></div>
				<div class="col-sm-4">
					<a href="/logout"><button type="button">Logout</button></a>
				</div>

			</div>
		</div>
	</div>
</body>