<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Create / Edit Roster</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
</head>

<body>
	<div class="container-fluid" id="wholePage">
		<div class="row justify-content-center">
			<div align="center" class="col-sm-12" id="rosterHeader">
				<h1>Create / Edit Roster</h1>
			</div>
			<div class="row justify-content-center" id="headerSpace"></div>


			<div class="row justify-content-center"
				id="dashboardBodyCreateRosterAddOn">
				<div align="center" class="col-sm-3"></div>
				<div align="center" class="col-sm-8"></div>

				<div class="row justify-content-center">
					<div class="col-sm-12" id="rosterTable">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Employee ID</th>
									<th>Employee Email</th>
									<th>Employee Name</th>
									<th>Week Number</th>
									<th>Monday</th>
									<th>Tuesday</th>
									<th>Wednesday</th>
									<th>Thursday</th>
									<th>Friday</th>
									<th>Saturday</th>
									<th>Sunday</th>
									<th>Employee Department</th>
									<th>Hours Worked</th>
								</tr>
							</thead>
							<tr th:each="roster:${roster}">
								<td th:text="${roster.employeeId}"></td>
								<td th:text="${roster.employeeEmail}"></td>
								<td th:text="${roster.employeeName}"></td>
								<td th:text="${roster.weekNo}"></td>
								<td th:text="${roster.monHours}"></td>
								<td th:text="${roster.tuesHours}"></td>
								<td th:text="${roster.wedHours}"></td>
								<td th:text="${roster.thursHours}"></td>
								<td th:text="${roster.friHours}"></td>
								<td th:text="${roster.satHours}"></td>
								<td th:text="${roster.sunHours}"></td>
								<td th:text="${roster.employeeDept}"></td>
								<td th:text="${roster.employeeHours}"></td>
								<td><a
									th:href="@{/employee-dashboard/save-create-edit-roster/{id}(id = ${roster.employeeId})}"
									class="btn btn-primary">Update</a>
									<a
									th:href="@{/employee-dashboard/delete-rostered-employee/{id}(id = ${roster.employeeId})}"
									class="btn btn-danger">Delete</a>
								</td>
							</tr>
						</table>

					</div>
				</div>




			</div>
			

		</div>

		<div class="row justify-content-center" id="footerSpace">
			<div class="col-sm-4">
				<a href="/admin-dashboard"><button type="button">Return
						to Dashboard</button></a>
			</div>
			<div class="col-sm-4"></div>
			<div class="col-sm-4">
				<a href="/logout"><button type="button">Logout</button></a>
			</div>

		</div>
	</div>

</body>