<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Request a Shift Swap</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
</head>

<body>
	<div class="container-fluid" id="wholePage">
		<div class="row justify-content-center">
			<div align="center" class="col-sm-12" id="rosterHeader">
				<h1>Request a Shift Swap</h1>
			</div>

			<div class="row justify-content-center" id="dashboardBody">
				<div class="col-sm-12" id="rosterTable">
					<h1>All Shift Swap Requests</h1>
					<hr>
					<h2 id = "signedInText"><span th:text="${#authentication.getPrincipal().getUsername()}"></span></h2>
					<h2>
						<span th:text="${youHaveARequest}" > </span>
					</h2>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Request ID</th>
								<th>Employee Email</th>
								<th>Recipient Email</th>
								<th>Swap Day</th>
								<th>For Day</th>
								<th>Accepted</th>
							</tr>
						</thead>
						<tr th:each="shiftSwap:${shiftSwap}">
							<td th:text="${shiftSwap.requestId}"></td>
							<td th:text="${shiftSwap.employeeEmail}"></td>
							<td th:text="${shiftSwap.recipientEmail}"></td>
							<td th:text="${shiftSwap.swapDay}"></td>
							<td th:text="${shiftSwap.forDay}"></td>
							<td th:text="${shiftSwap.accepted}"></td>
						</tr>
					</table>

				</div>
			</div>

			<hr>

			
			
			<div class="row justify-content-center" id="dashboardBody">
				<div class="col-sm-4">
					<h2>
						<a href="/employee-dashboard/employee-shift-swap-request"><button
								type="button" class="dashboardButtons">Make a Shift Swap Request</button></a>
					</h2>
				</div>
				<div class="col-sm-4"></div>
				<div class="col-sm-4">
					<h2>
							<a href="/employee-dashboard/employee-shift-swap-response"><button
									type="button" class="dashboardButtons">Respond to Shift Swap Request</button></a>
						</h2>
				</div>

			</div>




			<div class="row justify-content-center" id="footerSpace">
				<div class="col-sm-4">
					<a href="/employee-dashboard"><button type="button">Return
							to Dashboard</button></a>
				</div>
				<div class="col-sm-4"></div>
				<div class="col-sm-4">
					<a href="/logout"><button type="button">Logout</button></a>
				</div>

			</div>
		</div>
	</div>
</body>