<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Employee Dashboard</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
	crossorigin="anonymous">
<link href="/css/style.css" rel="stylesheet">
</head>

<body>
	<div class="container-fluid" id="wholePage">
		<div class="row justify-content-center">
			<div class="row justify-content-center" id="rosterHeader">
				<div align="center" class="col-sm-2">
					<img src="/images/AWare-logo.jpeg" alt="AWare-logos">
				</div>
				<div align="center" class="col-sm-8">
					<h1>Employee Dashboard</h1>
					<p id = "signedInText">Welcome, <span th:text="${#authentication.getPrincipal().getUsername()}"></span> </p>
					<p id = "signedInText">Position: <span th:text="${#authentication.getPrincipal().authorities}"></span>
				</div>
				<div align="center" class="col-sm-2"></div>
			</div>


			<div class="row justify-content-center" id="headerSpace"></div>


			<div class="row justify-content-center" id="dashboardBody">
				<div class="col-sm-4">
					<a href="/employee-dashboard/employee-roster"><button type="button"
							class="dashboardButtons">View Roster</button></a>
				</div>
				<div class="col-sm-4">
					<a href="/employee-dashboard/employee-request-shift-swap"><button type="button"
							class="dashboardButtons" th:classappend="${glowBool} ? 'dashboardButtonsShiftSwapActive'">Request Shift Swap</button></a>
				</div>
				<div class="col-sm-4">
					<a href="/employee-dashboard/employee-view-weather"><button type="button"
							class="dashboardButtons">View Weather</button></a>
				</div>
			</div>

			<div class="row justify-content-center" id="dashboardBody">
				<div class="col-sm-4">
					<a href="/employee-dashboard/employee-view-payslip"><button type="button"
							class="dashboardButtons">View Payslip</button></a>
				</div>
				<div class="col-sm-4">
					<a href="/employee-dashboard/employee-request-holidays"><button type="button"
							class="dashboardButtons">Request Holidays</button></a>
				</div>
				<div class="col-sm-4">
					<a href="/logout"><button type="button"
							class="dashboardButtons">Sign Out</button></a>
				</div>
			</div>



			<div class="row justify-content-center" id="footerSpace">
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<p align="center">Keeping you aware of business</p>
				</div>
				<div class="col-sm-2"></div>
			</div>
		</div>
	</div>
</body>