<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Error</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
</head>
<body>
	<div class="container-fluid" id="wholePage">
		<div class="row justify-content-center">
			<div align="center" class="col-sm-12" id="rosterHeader">
				<h1>An error has occurred</h1>
			</div>

			<div class="row justify-content-center" id="dashboardBody">
				<h2>You have either entered an incorrect URL, or you do not
					have access to this page.</h2>
				<div class="col-sm-12">
					<a href="/"><button type="button" class="dashboardButtons">Return
							to home</button></a>
				</div>
			</div>
		</div>
	</div>

	<div align="center"></div>
</body>